<!-- Modal -->
<div
  class="modal fade show"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ show: visible }"
  [ngStyle]="{ display: visible ? 'block' : 'none' }"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter Your Info</h5>
        <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
      </div>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="mb-3">
            <span>{{month}} {{day}}</span>
          </div>
          <div class="mb-3">
            <label class="form-label" for="txtQuantity">Quantity</label>
            <input type="text" class="form-control" formControlName="txtQuantity" />
            <div *ngIf="form.get('txtQuantity')?.touched && form.get('txtQuantity')?.invalid" class="text-danger small">
              Name is required.
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="txtNote">Note</label>
            <input type="text" class="form-control" formControlName="txtNote" />
            <div *ngIf="form.get('txtNote')?.touched && form.get('txtNote')?.invalid" class="text-danger small">
              A valid email is required.
            </div> 
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Backdrop -->
<div class="modal-backdrop fade show" *ngIf="visible" (click)="close()"></div>
