<app-modal-data [visible]="showModal" [day]="selectedDay" [month]="selectedMonth" (closed)="showModal = false" (submitted)="handleModalData($event)"></app-modal-data>

<div class="container text-center">
  <h1 class="mt-5">{{ 'TITLE' | translate }}</h1>
  <p class="lead">{{ 'DESCRIPTION' | translate }}</p>

  <button class="btn btn-primary m-2" (click)="switchLanguage('en')">English</button>
  <button class="btn btn-success m-2" (click)="switchLanguage('tr')">Türkçe</button>
  <button class="btn btn-primary" (click)="showModal = true">Open Modal</button>
</div>

<div class="row text-center">
  <div class="year-grid">
    <div *ngFor="let month of heatmapData" class="month-container">
      <h4>{{ monthNames[month.month] }}</h4>
      <div class="month-grid">
        <div *ngFor="let week of month.data" class="week-row">
          <div *ngFor="let day of week" class="heatmap-cell" [style.backgroundColor]="getHeatmapColor(day?.value)" (click)="onDayClick(month, day)">
            {{ day?.day || '' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
